<div class="container">
    <h1 class="display-4 mt-3">Cafetera</h1>
    
    <div class="form-inline">
    <div class="form-group">

    {{#each sensorsObj}}
        <div class="card mt-3 ml-3" style="width: 18rem;">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-envelope-open"></i> {{label}}:</h6>
            <p class="card-text"><h1 class="display-4">
            <span class='sensor' id='sensor{{id}}'>...</span>
            </p></h1>
        </div>
        </div>
    {{/each}}

    </div>
    </div>

    <div class="form-inline">
    <div class="form-group">

    
    {{#each behavioursObj}}
        <div class="card mt-3 ml-3" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text">
                <div class="loadingio-spinner-rolling-aoznsoi5op" style="display: none" id="{{id}}spinner"><div class="ldio-7zfhhb98vzd"><div></div></div></div>
                {{{codigo}}}
            </p>
        </div>
        </div>
    {{/each}}

    </div>
    </div>

    <hr>

    <p><small id="updateTime" class="text-muted"></small></p>
</div>