<div class="container">
    <form action="/login" method="POST">
            {{#each errores}}
                <div class="alert alert-danger" role="alert">
                    {{msg}}
                </div>
            {{/each}}
            {{#each authErrores}}
                <div class="alert alert-danger" role="alert">
                    {{authErrores.msg}}
                </div>
            {{/each}}
        <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required value="{{email}}">
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>