<div class="container">
    <h1 class="display-4">Mis dispositivos</h1>
    <p class="lead">
        Dispositivos vinculados a su cuenta.
    </p>

    {{#each profiles}}
    <div class="card mt-4" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">by <strong>{{company}}</strong></p>
        <a href="/device/{{deviceId}}" class="btn btn-primary">Abrir</a>
    </div>
    </div>
    {{/each}}
</div>