@keyframes ldio-7zfhhb98vzd {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-7zfhhb98vzd div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid #1d0e0b;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-7zfhhb98vzd div {
  animation: ldio-7zfhhb98vzd 2.127659574468085s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-aoznsoi5op {
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-7zfhhb98vzd {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.24);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-7zfhhb98vzd div { box-sizing: content-box; }